<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <h2>הרשמה למערכת</h2>


  <div class="form-group">
    <label>שם משתמש</label>
    <input type="text" formControlName="name" placeholder="שם משתמש">
  </div>


  <div class="form-group">
    <label>מייל</label>
    <input type="email" formControlName="email" placeholder="enter@email.com">
    @if(registerForm.get('email')?.touched && registerForm.get('email')?.invalid) {
    <span class="error">
      מייל לא תקין
    </span>
    }
  </div>

  <div class="form-group">
    <label>סיסמה</label>
    <input type="password" formControlName="password" placeholder="******">
  </div>
  @if(errorMessage) {
  <p class="server-error">{{ errorMessage }}</p>
  }
  <div class="form-group">
    <label>אימות סיסמה</label>
    <input type="password" formControlName="confirmPassword" placeholder="הקלידו שוב את הסיסמה">

    @if (registerForm.hasError('passwordMismatch') && registerForm.get('confirmPassword')?.touched) {
    <small class="error-text">הסיסמאות אינן תואמות.</small>
    }
  </div>
  <button type="submit" [disabled]="registerForm.invalid">הרשמה @if (isLoading()) {
   
      <div class="spinner"></div>
      <p>טוען ...</p>
    
    }
  </button>
  <p>כבר יש לך חשבון? <a routerLink="/login">התחבר כאן</a></p>



</form>